@charset "utf-8";

.sec-list {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    padding: 14rem 0 7rem;
}

.list1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;

    width: 78.8rem;

    border-right: 3px solid var(--main-color);
}

.list1 .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list1 .name strong {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--point-color);
}

.list1 .name h2 {
    font-family: "SF_HambakSnow";
    font-size: 12.8rem;
    line-height: 1;
    color: var(--main-color);
    -webkit-text-stroke: 2px var(--title-color);
}

.list1 .address {
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var(--title-color);
}

.list1 figure {
    width: 100%;
    height: 35rem;
    padding: 3rem;
}

.list1 figure img {
    display: block;
    width: 100%;
    height: 100%;
    background: orange;
}

.list1 ul::before {
    content: "";

    position: absolute;
    top: -40%;
    left: 0;

    width: 3rem;
    height: 3rem;
    background: url(../img/deco-softflower.svg) no-repeat 50% 50% / contain;

    animation: spin 5s infinite both;
}

.list1 ul::after {
    content: "";

    position: absolute;
    top: -30%;
    right: 0%;

    width: 62rem;
    height: 3px;
    background: var(--main-color);
}

.list1 ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    margin-top: 5rem;

    position: relative;
}

.list1 ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15rem;
    height: 15rem;

    font-family: "SF_Hambaksnow";
    font-weight: 800;
    font-size: 2.8rem;
    color: #fff;
    /* text-shadow: 0 0 4px #000, 0 0 4px var(--black50p); */
    -webkit-text-stroke: 2px #000;
    paint-order: stroke fill;

    background: no-repeat 50% 50% / contain;
}

.list1 ul li:nth-child(1) {
    background-image: url(../img/heaven-str2.svg);
}
.list1 ul li:nth-child(2) {
    background-image: url(../img/heaven-str1.svg);
}
.list1 ul li:nth-child(3) {
    background-image: url(../img/heaven-str3.svg);
}

/* e: list1 */

.list2,
.list3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 5rem;

    width: calc((100% - 78.8rem) / 2);
}

h3 {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-weight: 700;
    font-size: 3.2rem;
    color: var(--title-color);
}

h3::before {
    content: "";

    display: block;
    width: 2.4rem;
    height: 2.4rem;

    background: url(../img/icon-star.svg) no-repeat 50% 50% / contain;
}

.list-block {
    display: flex;
    flex-direction: column;
}

.list-block li {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 3rem;

    border-bottom: 2px solid var(--main-color);
}

.list-block li strong {
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-color-dark);
}

.list-block li dl {
    text-align: end;
}

.list-block li dl dt,
.license .list-block li p {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--title-color);
}

.list-block li dl dd {
    display: flex;
    justify-content: end;
    gap: 7px;

    color: var(--text-color);
}

.list-block li dl dd p {
    display: flex;
    align-items: center;
    gap: 7px;
}

.list-block li dl dd p::after {
    content: "";

    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    background: var(--main-color-dark);
}

.list-block li dl dd p:last-child::after {
    display: none;
}

/* e: list2,3 공통설정 */

.heaven section {
    position: relative;
}

.heaven .education::before {
    content: "";

    position: absolute;
    top: 50.7%;
    left: 4rem;

    display: block;
    width: 27rem;
    height: 4rem;
    background: url(../img/deco-worm.svg) no-repeat 50% 50% / contain;

    opacity: 0.6;

    animation: spin2 5s infinite both;
}

.heaven .education::after {
    content: "";

    position: absolute;
    top: 53.2%;
    left: 60%;

    display: block;
    width: 11rem;
    border-bottom: 8px dotted var(--main-color);

    opacity: 0.5;
}

.heaven .experience::before {
    content: "";

    position: absolute;
    top: 52.3%;
    right: 5rem;

    display: block;
    width: 2rem;
    height: 2rem;
    background: url(../img/deco-softflower.svg) no-repeat 50% 50% / contain;

    opacity: 0.9;

    animation: spin 3s infinite both;
}

.heaven .license::before {
    content: "";

    position: absolute;
    top: 60%;
    right: 5rem;
    transform: rotate(10deg);

    display: block;
    width: 7rem;
    height: 7rem;
    background: url(../img/deco-softasterisk.svg) no-repeat 50% 50% / contain;

    opacity: 0.7;

    animation: jello-vertical 3s infinite both;
}

.experience .list-block li:last-child {
    border-bottom: none;
}

.list3 {
    border-left: 3px solid var(--main-color);
}

.list3 .license ul li {
    align-items: center;
}

.list3 .skills .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rcap;
}

.list3 .skills .icons img {
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    background: orchid;
}

/* e: list 개별설정 */

@keyframes spin {
    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin2 {
    20% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
    10% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    16% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1) rotate(-10deg);
    }
    25% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    30% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(10deg);
        transform: scale3d(1.05, 0.95, 1);
    }
    40% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1) rotate(10deg);
    }
    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
}
