@charset "utf-8";

.title-wrap,
.popup {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr;
    grid-template-areas:
        "portfolio heejoo heejoo"
        "portfolio process wandoo"
        "mode process wandoo";

    width: 100%;
    height: 100vh;
    padding: 12rem 0 5rem;
}

.title-wrap .portfolio,
.popup .portfolio {
    grid-area: portfolio;
}
.title-wrap .mode,
.popup .mode {
    grid-area: mode;
}
.title-wrap .heejoo,
.popup .heejoo {
    grid-area: heejoo;
}
.title-wrap .process,
.popup .process {
    grid-area: process;
}
.title-wrap .wandoo,
.popup .wandoo {
    grid-area: wandoo;
}

/* e: grid */

.title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}

.title-wrap strong {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    border: 3px solid var(--main-color);

    font-family: "Roboto Condensed";
    font-weight: 900;
    font-size: 10rem;
    color: var(--title-color);
    -webkit-text-stroke: 10px #fff;
    paint-order: stroke fill;

    box-shadow: inset 4px 4px 4px var(--white20p);
    backdrop-filter: blur(2.5px);

    transition: 0.2s;
}

.title-wrap strong:hover {
    color: #000;
    /* text-shadow: 0 4px 8px var(--black30p); */

    background-color: var(--white50p);
}

/* e: title-wrap */

.popup h2 {
    display: none;
}

.popup section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    border: 3px solid var(--main-color);
}

.popup dl {
    display: flex;
    gap: 1rem;
}

.popup dl dt {
    width: 20rem;
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--main-color);
    -webkit-text-stroke: 3px var(--title-color);
    paint-order: stroke fill;
}

.popup dl dd {
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--title-color);

    margin-top: 2rem;
}

.popup .portfolio dl dd {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.popup .portfolio dl dd p {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.popup .portfolio dl dd p::before {
    content: "";

    display: block;
    width: 3rem;
    height: 3rem;
    background: orange;
}

/* e: popup 공통설정 */

.popup .mode dl dt {
    width: 24rem;
}
.popup .process dl dt {
    width: 30rem;
}

.popup .mode dl dd {
    font-size: 2.4rem;
    margin-top: 0;
}

.popup .heejoo .popup-text.heaven {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.popup .heejoo .popup-text.heaven .left dl dt {
    width: 17rem;
}
