@charset "utf-8";

body {
    height: 100vh;
    overflow: hidden;
}

.marquee {
    margin-top: 14rem;
}

.marquee .text1,
.marquee .text2 {
    display: flex;
}

.marquee .text1 p,
.marquee .text2 p {
    padding: 0 2.5rem;

    font-weight: 700;
    font-size: 9.6rem;
    line-height: 1.2;
    color: var(--point-color);
    white-space: nowrap;

    animation: marquee 4s linear infinite both;
}

.marquee .text2 p {
    font-size: 12.8rem;
}

.marquee .contact {
    display: flex;
}

.marquee .contact p {
    padding: 0 2.5rem;
    margin-right: -1px;
    background: #000;

    font-weight: 700;
    font-size: 12.8rem;
    line-height: 1.2;
    color: #fff;
    white-space: nowrap;

    animation: marquee 5s linear infinite both;
}

@keyframes marquee {
    100% {
        transform: translateX(-100%);
    }
}

.info {
    display: flex;
    flex-direction: column;
    /* gap: 5rem; */
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
}

.info li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    padding: 2rem 3rem;

    border-bottom: 2px solid #000;

    font-weight: 700;
    line-height: 1.2;
    color: var(--title-color);
}

.info li p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 4.8rem;
}

.info li p::before {
    content: "";

    display: block;
    width: 4rem;
    height: 4rem;
    background: url(../img/icon-star.png) 50% / contain;
}

.info li strong {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 5.6rem;
    cursor: pointer;
}

.info li strong::after {
    content: "";

    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/icon-copy.png) 50% / contain;
}

.info li i {
    position: absolute;
    top: -1rem;
    right: -3rem;
    transform: rotate(10deg);

    padding: 1rem 1.5rem;
    background: var(--white50p);
    border: 3px solid #fff;
    border-radius: 5rem;

    font-weight: 700;
    font-size: 2rem;
    color: var(--point-color);

    display: none;
}
