@charset "utf-8";

body {
    overflow-x: hidden;
}

h2 {
    margin-top: 12rem;
    margin-left: 5rem;

    font-weight: 900;
    font-size: 20rem;
    line-height: 1;
    color: #000;
}

h3 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5rem;
    border-bottom: 1px solid #000;

    font-weight: 700;
    font-size: 9.6rem;
    color: #000;
}

.worklist {
    display: flex;

    margin-top: 2rem;
}

.worklist .sticky {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15rem 5rem 0;
    gap: 1.5rem;

    position: sticky;
    top: 0rem;
}

.worklist .sticky figure {
    width: 41.7rem;
    height: 47rem;

    background: #fff;
}

.worklist .sticky .title {
    display: flex;
    flex-direction: column;
    align-items: end;

    padding: 0 1rem;
}

.worklist .sticky .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.worklist .sticky .buttons * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    padding: 1.2rem 3rem;
    gap: 0.5rem;

    background: #fff;
    box-shadow: var(--button-box-shadow2);
    border: 2px solid var(--main-color);
    border-radius: 1.6rem;

    color: var(--text-color);

    transition: 0.4s;
}

.worklist .sticky .buttons *::before {
    content: "";

    width: 2rem;
    height: 2rem;

    background: #000;
}

.worklist .sticky .buttons *::after {
    content: "";

    width: 0.6rem;
    height: 1.1rem;
    margin-left: -1rem;

    background: url(../img/icon-arrow.png) no-repeat 50% 50% / contain;

    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.worklist .sticky .buttons *:hover {
    color: var(--main-color-dark);
}

.worklist .sticky .buttons *:hover::after {
    margin-left: 3rem;
    visibility: visible;
    opacity: 1;
}

.worklist .sticky .buttons *:active {
    background: var(--main-color-dark);
    box-shadow: var(--button-box-innershadow);
    border: none;

    color: #fff;
}

.worklist .sticky .buttons *:active::after {
    filter: brightness(0) invert(1);
}

/* e:sticky */

.worklist .sections ol {
    counter-reset: project;
}

.worklist .sections ol li {
    display: flex;
    height: 33rem;
    padding-left: 5rem;
    gap: 5rem;
    border-bottom: 1px solid #000;

    cursor: pointer;
    transition: 0.2s;
}

.worklist .sections ol li.active {
    background: #fff;
}

.worklist .sections ol li .project-date {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 20rem;
    padding: 3rem 0;
    align-items: end;
}

.worklist .sections ol li .project-date::before {
    counter-increment: project;
    content: counter(project, decimal-leading-zero);

    font-weight: 900;
    font-size: 9.6rem;
    line-height: 1;

    color: var(--main-color);
    -webkit-text-stroke: 1px var(--title-color);
}

.worklist .sections ol li.active .project-date::before {
    color: var(--point-color);
}

.worklist .sections ol li .project-date p {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
    text-align: end;
    color: var(--title-color);
}

.worklist .sections ol li .project-con {
    padding: 4rem 3rem;

    border-left: 1px solid #000;
}

.worklist .sections ol li .project-con dl {
    display: flex;
    height: 100%;
    gap: 4rem;
}

.worklist .sections ol li .project-con dl dt {
    width: 30rem;
    flex-shrink: 0;
}

.worklist .sections ol li .project-con dl dt strong {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1;
    color: var(--title-color);
}

.worklist .sections ol li .project-con dl dt p {
    font-weight: 500;
    font-size: 2rem;
    color: var(--title-color);

    margin-top: 1rem;
}

.worklist .sections ol li .project-con dl dd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 2rem;
    color: var(--text-color);
}

.worklist .sections ol li .project-con dl dd i {
    font-size: 1.6rem;
    color: var(--title-color);
}

/* e: rightlists */

.listpopup {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: end;

    width: 80%;
    height: 85vh;
    padding: 5rem 7rem;

    background: var(--white50p);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(var(--glass-blur));
    border: 2px solid #fff;
    border-radius: 16px;

    display: none;
}

.listpopup .btn-close {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    background: url(../img/icon-close.png) no-repeat 50% 50% / contain;
}

.listpopup .inner {
    width: 100%;
    overflow-y: auto;

    margin-top: 2rem;
}

.listpopup .inner::-webkit-scrollbar {
    width: 1.8rem;
}

.listpopup .inner::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: var(--main-color-dark);
}

.listpopup .inner::-webkit-scrollbar-track {
    background-color: var(--white30p);
    border: 1.5px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px #fff;
}

.listpopup figure {
    flex-shrink: 0;
    width: 100%;
    height: 10000px;
    background: dodgerblue;
}

/* e:listpopup */

.banner .main-swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 7rem;
    background: var(--white50p);

    position: relative;
}

.banner .main-swiper-wrapper .main-swiper {
    width: 144rem;
}

.banner .main-swiper-wrapper .main-swiper .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.banner .main-swiper-wrapper .main-swiper .swiper-slide a {
    display: block;
    width: 34.5rem;
    height: 34.5rem;
}
.banner .main-swiper-wrapper .main-swiper .swiper-slide a img {
    width: 100%;
    height: 100%;
    background: var(--black50p);
}

.banner .main-swiper-wrapper .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 3.5rem;
    left: calc((100% - 1440px) / 2);
    width: 144rem;
}

/* e: banner-main swiper */

.banner {
    position: relative;

    margin-top: 15rem;
}

.banner .sub-swiper-wrapper {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    width: 65%;
    height: 65rem;
    padding: 8rem;
    padding-bottom: 5rem;
    background: var(--white70p);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(var(--glass-blur));
    border: 2px solid #fff;
    border-radius: 16px;
}

.banner .sub-swiper-wrapper .btn-close {
    position: absolute;
    top: 3rem;
    right: 5rem;

    width: 3rem;
    height: 3rem;
    background: url(../img/icon-close.png) no-repeat 50% 50% / contain;
    filter: brightness(0) invert(1);
}

.banner .sub-swiper-wrapper .sub-swiper {
    width: 100%;
    height: 100%;
    /* border: 1px solid dodgerblue; */
}

.banner .sub-swiper-wrapper .sub-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner .sub-swiper-wrapper .sub-swiper .swiper-slide figure {
    display: flex;
    width: 100%;
    height: calc(100% - 47px);
    justify-content: center;
    align-items: center;

    /* border: 1px solid orange; */
}

.banner .sub-swiper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #000;
}

.banner .sub-swiper-wrapper .sub-swiper .swiper-slide .tags {
    display: flex;
    gap: 1.5rem;
}

.banner .sub-swiper-wrapper .sub-swiper .swiper-slide .tags p {
    padding: 0.5rem 1.5rem;
    background: #fff;
    border-radius: 3.2rem;

    color: var(--text-color);
}

/* e: banner */

.other {
    margin: 15rem 0;
}

.other .text {
    padding: 2rem 5rem;
}

.other .text p {
    font-size: 2rem;
    color: var(--text-color);
    text-align: end;
}

.other .text p + p {
    font-size: 1.6rem;
}

.other .text p + p i {
    font-weight: 700;
}

.other .other-swiper-wrapper {
    display: flex;
    justify-content: center;

    margin-top: 5rem;
}

.other .other-swiper-wrapper .other-swiper {
    width: 220rem;
    overflow: visible;
}

.other .other-swiper-wrapper .other-swiper .swiper-wrapper {
    transition-timing-function: linear;
}

.other .other-swiper-wrapper .other-swiper .swiper-wrapper .swiper-slide {
    aspect-ratio: 1;
}

.other .other-swiper-wrapper .other-swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* e: other */
